<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RGB Guesser</title>
    <link rel="stylesheet" type="text/css" href="static/rgb.css">
</head>
<body>
    <h1>
        A nagy Piros-Zöld-Kék tippverseny.
        <br>
        <span id="rgbDisplay">valami</span>
        <br>
        a keresett szín!
    </h1>

    <div id="stripe">
        <button id="reset">Új színeket akarok!</button>
        <span id="message"></span>
        <button class="mode">Könnyű</button>
        <button  class="mode selected">Nehéz</button>
    </div>

    <div id="container">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>

<script type="text/javascript" src="static/rgb.js" ></script>
</body>
</html>